

@{
    Layout = "~/Views/Compartir/Plantilla.cshtml";
}



<div id="contenedor-slider" class="contenedor-slider">
    <div id="slider" class="slider">
        <section class="slider__section">
            <img src="~/Imagenes/logoBaner.jpg" alt="">
        </section>
        <section class="slider__section" alt="">
            <img src="~/Imagenes/depa1.jpg" alt="">
        </section>
        <section class="slider__section" alt="">
            <img src="~/Imagenes/depa2.jpg" alt="">
        </section>
        <section class="slider__section" alt="">
            <img src="~/Imagenes/depa3.jpg">
        </section>
        <section class="slider__section" alt="">
            <img src="~/Imagenes/depa4.jpg">
        </section>

    </div>
    <div id="btn-prev" class="btn-prev">&#60;</div>
    <div id="btn-next" class="btn-next">&#62;</div>
</div>
<h2>Quiénes Somos</h2>

<p>
    Somos empresa líder de inmobiliarias
    con mas de medio ciclo en la USMP de experiencia
    ganadores de Gramis y Oscares a nivel incaico.
</p>

<h3>Visión</h3>

<p>
    Ser la mejor alternativa para quienes quieren la ayuda de un profesional inmobiliario, desde una relación cercana y resolutiva, ofreciendo las propuestas más innovadoras.
    Que nuestros clientes se sientan plenamente acompañados y asesorados durante todo el proceso de compra de una propiedad, para mejorar su calidad de vida.
</p>

<h3>Misión</h3>


<p>Brindar un servicio de asesoría inmobiliaria personalizada orientada a cuidar el patrimonio de nuestros clientes, con ética y profesionalismo, proporcionando a nuestros clientes asesoría inmobiliaria personalizada e integral, con ética, honestidad y discreción, siempre orientados al servicio personalizado en todas las etapas de nuestra intervención en la venta, compra o alquiler, basados en nuestra experiencia y capacitación en el sector.</p>

<h3>Valores</h3>

<p>
    Trabajo en equipo: fomentamos la participación de todos para lograr un objetivo común, compartiendo información y conocimientos.

    Conducta ética: actuamos con profesionalidad, integridad moral, lealtad y respeto a las personas.

    Orientación al cliente: centramos nuestro esfuerzo en la satisfacción del cliente, aportando soluciones competitivas y de calidad.

    Innovación: promovemos mejoras continuas e innovación para alcanzar la máxima calidad desde criterios de rentabilidad.
    Transparencia: Actuando coherentemente con información abierta y oportuna
</p>

<div class="abajo">
    <img src="~/Imagenes/footer.jpg">
</div>

<div class="redes">
    <p id="siguenos">Siguenos:</p>
    <img src="~/Imagenes/fa.png">
    <img src="~/Imagenes/tw.png">

</div>
<script src="~/Content/js/slider.js"></script>